*.o
Makefile.in
configure
configure.in
*.bak
Makefile
*.Plo
*.lo
*.a
*.la
.deps
.libs
config.log
config.status
autom4te.cache/
code/cmp/basic.junk
code/cmp/pclu
code/gc-7.2/include/private/config.h
code/gc-7.2/libatomic_ops/pkgconfig/atomic_ops-uninstalled.pc
code/gc-7.2/libatomic_ops/pkgconfig/atomic_ops.pc
code/gc-7.2/libtool
code/include/acconfig.h
driver/PCLU
guide
configure
